:root {
    --cor-principal-dark-100: #609ED4;
    --cor-principal-dark-200: #356EA9;
    --cor-principal-dark-300: #0A3871;
    --cor-principal-dark-400: #072B61;
    --cor-principal-dark-500: #052051;
    --cor-principal-light-100: #F3F5FC;
    --cor-principal-light-200: #EFF1FA;
    --cor-principal-light-300: #E9ECF8;
    --cor-principal-light-400: #AAB2D5;
    --cor-principal-light-500: #757FB2;
    --cor-cinza-100: #CED4DA;
    --cor-cinza-200: #ADB5BD;
    --cor-cinza-300: #868E96;
    --cor-cinza-400: #495057;
    --cor-cinza-500: #343A40;
}

h1 {
    font-size: 40px;
}

header {
    background-color: var(--cor-principal-dark-100);
    padding: 1rem 2rem;
}

main {
    background-color: var(--cor-principal-light-100);
    padding: 1rem 2rem;
    display: grid;
    gap: 1rem;
    min-height: 78.1vh;
}

section {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--cor-cinza-300);
}

button {
    width: 328px;
    padding: .5rem 0px;
}

#input {
    width: 100%;
    height: auto;
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
    border: 1px solid #CCC;
    background-color: #F8F8F8;
    resize: none;
}

.entrada {
    display: flex;
    flex-direction: column;
    height: 100%;
}

button {
    width: 100%;
}

.botoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.escondido {
    display: none;
}

/* Tablets */
@media only screen and (min-width: 768px) {
    .botoes {
        flex-direction: row;
    }
}

/* Desktops */
@media only screen and (min-width: 992px) {
    main  {
        grid-template-columns: 2fr 1fr;
    }
}